<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title> <%= title %> </title>
</head>

<body>
    <%- include('./partials/header') %>

    <h1> <%= title %> </h1>

    <lu>
        <% for (let i = 0; i < movies.length; i++) { %>
        <li>
            <a href="/movies/detail/<%= movies[i].id %>"> <%= movies[i].title  %> </a> <form action="/movies/edit/<%= movies[i].id%> " method="GET">
            <button class="btn btn-danger">Editar</button>
            </form>
        </li>
        <% } %>
    </lu>

    <%- include('./partials/scripts') %>
</body>

</html>